<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>
<body>
<header class="banner"> <!--это баннер с лого-->
  <div class="banner-left">
    <img src="../static/images/Logo(SD).png" class="logo-corner" />
    <h1 class="shop-name">StarDrop</h1>
  </div>
  <div class="banner-right">
    <a href="/cart"><img src="../static/images/cart.png" alt="Cart" class="icon" /></a>
    <a href="/profile_options"><img src="../static/images/profile.png" alt="profile_options" class="icon" /></a>
  </div>
</header>

<nav class="navbar"> <!--это навигация по страничкам-->
  <ul>
    <li><a href="/">Главная</a></li>
    <li><a href="family-games.html">Семейные игры</a></li>
    <li><a href="strategy-games.html">Стратегии и евроигры</a></li>
    <li><a href="rpg.html">Ролевые настольные игры</a></li>
    <li><a href="accessories.html">Аксессуары</a></li>
  </ul>
</nav>

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>