<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>StarDrop</title>
  <link rel="stylesheet" href="static/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>
<body>

{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

<img src="{{ url_for('static', filename='images/Vector.png') }}" alt="Banner" class="center">



<div class="event-strip-wrapper">
  <div class="event-strip">
    <img src="{{ url_for('static', filename='../static/images/Group 4.png') }}" alt="Event Strip">
    <img src="{{ url_for('static', filename='../static/images/Group 4.png') }}" alt="Event Strip Duplicate">
  </div>
</div>

<section class="special-offer"> <!-- спец предложения товар-->
  <h2>Специальные предложения!
    Все товары со скидкой</h2>

  <div class="product-cards">

    <div class="product-card"> <!-- детали о товаре имя ценв картинка и краткое описание-->
      <a href="product.html?name=Манчкин&price=1290&image=game1.png&description=Хапай%20сокровища,%20бей%20монстров!">
        <img src="../static/images/game1.png" alt="Product 1">
      </a>
      <h3>Манчкин</h3>
      <p class="small-description">Хапай сокровища, бей монстров!</p>
      <p>1 290 ₽</p>
      <button onclick="addToCart('Манчкин', 1290.00, 'game1.png')">В корзину</button>
    </div>

    <div class="product-card">
      <a href="product.html?name=Product2&price=24.99&image=game2.png&description=Будьте%20мудрым%20даймё!">
        <img src="../static/images/game2.png" alt="Product 2">
      </a>
      <h3>Битва за Рокузан</h3>
      <p class="small-description">Будьте мудрым даймё!</p>
      <p>3 490 ₽</p>
      <button onclick="addToCart('Битва за Рокузан', 3490.00, 'game2.png', 'Будьте мудрым даймё!')">В корзину</button>
    </div>

    <div class="product-card">
      <a href="product.html?name=Product2&price=24.99&image=game3.png&description=Легенда%20в%20новом%20виде">
        <img src="../static/images/game3.png" alt="Product 3">
      </a>
      <h3>Каркассон</h3>
      <p class="small-description">Легенда в новом виде</p>
      <p>1 990 ₽</p>
      <button onclick="addToCart('Каркассон', 1990.00, 'game3.png', 'Легенда в новом виде')">В корзину</button>
    </div>

  </div>
</section>


<section class="new-arrivals">
  <h2>Топ игр</h2>
</section>

<div class="product-cards">
  <div class="product-card">
    <a href="product.html?name=Product1&price=1999&image=game1.png&description=This%20is%20a%20cool%20game">
      <img src="../static/images/game1.png" alt="Product 1">
    </a>
    <h3>Манчкин</h3>
    <p class="small-description">Хапай сокровища, бей монстров!</p>
    <p>1 290 ₽</p>
    <button onclick="addToCart('Product 1', 1290.00, 'game1.png', 'Хапай сокровища, бей монстров!')">В корзину</button>
  </div>

  <div class="product-card">
    <a href="/product?name=Product2&price=24.99&image=game2.png">
      <img src="../static/images/game2.png" alt="Product 2">
    </a>
    <h3>Битва за Рокузан</h3>
    <p class="small-description">Будьте мудрым даймё!</p>
    <p>3 490 ₽</p>
    <button onclick="addToCart('Product 2', 3490.00, 'game2.png')">В корзину</button>
  </div>
</div>

<footer class="footer">
  <p>© 2025 StarDrop | <a href="#">Contact Us</a> | <a href="#">About</a></p>
</footer>
<!-- тут функция которая добавляет товар в страничку корзины по кнопке-->
<script> 
  function addToCart(name, price, image, description) {
      let cart = JSON.parse(localStorage.getItem('cart')) || [];
      const existingProduct = cart.find(item => item.name === name);
      if (existingProduct) {
          existingProduct.quantity += 1;
      } else {
          cart.push({ name: name, price: price, quantity: 1, image: image, description: description});
      }
      localStorage.setItem('cart', JSON.stringify(cart));
      alert("Добавлено в корзину!");
  }
  </script>
  
</body>
</html>
{% endblock %}